*.swp
*~
bazel-*
.vscode
bin
obj
_templates
_static
_build
/packages
.vs
node_modules
package-lock.json
package.json
.ionide
.bazelrc.user
bb_cookies.json
bb_browser_state.json
.fake
tools/paket2bazel/packages
examples/paket/packages
examples/packages
paket-files
validation/booking/src/
validation/booking/bazel-*
validation/booking/MODULE.bazel.lock
