storage: none
group paket2bazel_dependencies
    framework: net9.0
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core == 9.0.100 
    nuget Argu 6.2.3
    nuget Paket.Core 9.0.0
    nuget NuGet.PackageManagement 6.12.1
    nuget NuGet.Packaging 6.12.1
    nuget NuGet.Protocol 6.12.1
    nuget NuGet.Credentials 6.12.1
    nuget NuGet.Resolver 6.12.1
    nuget System.Text.Json 9.0.0

group rules_dotnet_dev_nuget_packages
    framework: net9.0,netstandard2.1,netstandard2.0
    source https://api.nuget.org/v3/index.json

    nuget LibGit2Sharp 0.27.0-preview-0182
    nuget LibGit2Sharp.NativeBinaries 2.0.315-alpha.0.9
    nuget FSharp.Data 4.2.7
    nuget FSharp.Core 9.0.100
    nuget System.Security.Principal.Windows 5.0.0
    nuget Magick.NET.Core 12.2.2
    nuget System.Memory 4.5.5
    nuget System.Text.Json 7.0.3
    nuget Microsoft.CodeAnalysis.Common 4.9.2
    nuget Microsoft.CodeAnalysis.Analyzers 3.3.4
    nuget Microsoft.CodeAnalysis.CSharp 4.9.2
    nuget Microsoft.NETFramework.ReferenceAssemblies.net48 1.0.3

group rules_dotnet_nuget_packages
    framework: net9.0
    source https://api.nuget.org/v3/index.json

    nuget NUnit 3.12.0
    nuget NUnitLite 3.12.0

